:root {
  --font: 'Montserrat', sans-serif;
  --base: #0C0E11;
  --base-accent-dark: #12161B;
  --base-accent-light: #1B1D24;
  --red-accent: #F5475D;
  --green-accent: #10CB81;
  --white-accent: #F6F8FF;
  --nav-size: 90px;
  --border: 2px solid #1B1D24;
  --border-radius: 16px;
  --speed: 600ms;

}

a {
  color: var(--white-accent);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background: var(--base-accent-light);
  border-radius: 16px;
  padding: 0 1rem;
  margin: 1%;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-heading {
  --heading-size: calc(var(--nav-size) * 0.6);
  height: var(--heading-size);
  line-height: var(--heading-size);
  text-align: center;
  color: var(--white-accent);
  background-color: var(--base);
  border-radius: var(--border-radius);
  padding: 5px 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--base);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms, transform 300ms;
}

.icon-button svg {
  fill: var(--white-accent);
  width: 20px;
  height: 20px;
}

.icon-button:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.dropdown {
  width: 300px;
  position: absolute;
  top: 120px;
  transform: translateX(-33.5%);
  background-color: var(--base);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 5px;
  overflow: hidden;
  transition: 500ms;
  z-index: 50;
}

.menu-item {
  color: var(--white-accent);
  background-color: var(--base-accent-light);
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: 500ms;
  padding: 0.2rem 1rem;
  margin: 10px;
}

.menu-item:hover {
  background-color: #10CB81;
  transform: scale(1.01);
}

.icon-right {
  margin-left: auto;
}

.paragraph {
  color: #10CB81;
}

.startbutton {
  font-size: 30px;
  width: 100%;
  height: auto;
}

.platformbutton {
  font-size: 14px;
  width: 49%;
  height: 35px;
  text-align: center;
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  color: #0C0E11;
  border-radius: 6px;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 6px 0;
  background-color: #F5475D;
}

.platformbutton:hover {
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  transform: scale(1.02,1.02);
}

.methodbutton {
  background-color: #F5475D;
  width: 32%;
  height: 25px;
  text-align: center;
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  color: #0C0E11;
  border-radius: 6px;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 6px 0;
}

.methodbutton:hover {
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  transform: scale(1.02,1.02);
}

.botinput {
  transition: background 0.5s, width 1s, opacity 5s;
  transition-duration: 0.25s;
  color: #0C0E11;
  background-repeat: no-repeat;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  margin: 6px 0;
  background-size: 20px;
  background-position: 5px 8px;
  background-color: var(--white-accent);
  display: block;
  padding-left: 30px;
  font-size: 15px;
  height: 35px;
  width: 100%;
}

.displaybox {
  text-align: left;
  background: var(--base-accent-light);
  color: var(--white-accent);
  border-radius: var(--border-radius);
  padding: 15px;
  margin: 1%;
  flex: 1 2 300px;
  box-sizing: border-box;
  height: 400px;
}

.displaybox-large {
  text-align: left;
  background: var(--base-accent-light);
  color: var(--white-accent);
  border-radius: var(--border-radius);
  padding: 15px;
  flex: 1 2 100%;
  box-sizing: border-box;
  margin: 1% 1% auto;
}

.displaybox-mini {
  text-align: center;
  background: var(--base-accent-light);
  color: var(--white-accent);
  border-radius: var(--border-radius);
  padding: 15px;
  flex: 1 2 50px;
  box-sizing: border-box;
  margin: 1% 1% auto;
}

.generalbutton {
  text-align: center;
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  color: #0C0E11;
  border-radius: 6px;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 6px 0;
}

.generalbutton:hover {
  transition: transform 0.25s, background 0.5s;
  transition-duration: 0.25s;
  transform: scale(1.02,1.02);
}

.generalinput {
  transition: background 0.5s, width 1s, opacity 5s;
  transition-duration: 0.25s;
  color: #0C0E11;
  background-repeat: no-repeat;
  border-radius: 6px;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 6px 0;
}

.container {
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.chart-container {
  width: 80%;
  height: 100%;
}

body {
  font-family: var(--font);
  background-color: var(--base);
}

::placeholder {
  color: #12161b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #12161b;
}

::-ms-input-placeholder {
  color: #12161b;
}